# OS
.DS_Store

# Nvim
.config/nvim/lazy-lock.json

# Nushell history
.config/nushell/history.*

# CLI config
.config/gh/
.config/glab-cli/

# Tmux plugin manager
.config/tmux/plugins/

# Device-specific
.config/linearmouse/

# Claude
.claude/

# Local/private files
*.local
*.private
